*{
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
  display: block;
  padding: 20px;
  width: 100%;
  font-size: 2.5em;
  font-weight: 10
}
.disappear{
  display: none;
}
.fullScreen {
  background: url('./img/bacground.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
}

.popular {
  overflow: hidden;
  margin: 20px 20px 20px 20px;
  width: 900px;
  display: flex;
  position: absolute;
  bottom: 128px;
  left: 15vw;
}
.popular::-webkit-scrollbar {
  display: none;
}

.popular img { 
  width: 100px;
   height: 150px; 
   margin-right: 5px;
  }
.screen {
  position: absolute;
  position: absolute;
  top: 9px;
  left: 193px;
  z-index: 10000;
  position: absolute;
  bottom: 111px;
  left: 10vw;
}
iframe {
  width: 922px;
  height: 520px; 
}
span {
  position: absolute;
  position: absolute;
  background: red;
  top: 9px;
  left: 193px;
  z-index: 1000;
  width: 922px;
  height: 520px;
}
/* align-items: center;
justify-content: center; */

body{
  text-align: center;
}
.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 94px;
}
  .search-reasult{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  }

  .mov_list{
  display: block;
  width: 300px;
  text-align: center;
  background-color: #efefef;;
  margin-top: 20px;
  margin-right: 20px;

  }
  .mov_list h4,p{
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
  }

  
  .mov_list img{
  width: 300px;
  height: 300px;
  }

  input{
    width: 50vw;
    height: 25px;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
  }
  .search-button{
    width: 20vw;
    height: 37px;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
  }
.on-off{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    padding: 4px;
    padding-bottom: 12px;
}
  .search-button:hover{
  animation: colouful 3s ease;
  }
  @keyframes colouful{
  15%{background: #e6e2e1;

  }}


  figcaption {
      position: absolute;
      top: -18px;
      left: 0px;
      background: #71747569;
      width: 98%;
      height: 313px;
      padding: 20px;
      text-align: left;
      margin: -4px -14px;
      color: #fff;
      font-size: 2em;
  }
.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 34px;
  left: 166px;
}

@media  only screen and (max-width: 760px){
  .popular {
    display: flex;
    justify-content: center;
    flex-direction: row;
    bottom: 60px;
    left: -2vw; 
  }
  .popular img {
    width: 35px;
    height: 36px;
  }
  .screen {
    position: absolute;
    top: 45px;
    left: 8vw;
  }
iframe {
  width: 83%;
  height: 124%;
}

}

@media only screen and (max-width: 360px){
  .fullScreen{
    background-size: contain;
    height: 270px;
  }
  input {  height: 7px; }
  .search-button { height: 20px}
  .on-off { width: 15px; height: 10px;margin-right: 7px;}
iframe {
  width: 83%;
  height: 124%;
}
.search{
  top: 199px; 
  left: 39px;
}
figcaption {
  position: absolute;
  top: -100px;
  left: 54px;
  background: #71747533;
  width: 24%;
  height: 102px;
  padding: 20px;
  text-align: left;
  margin: -4px -14px;
  color: #fff;
  font-size: 1em;
}
.search-button{padding: 0px;}
} 